/game/target/
/game/core/target/
/game/lwjgl/target/
/editor/target/
/packages/generic/target/
/packages/win/target/
/packages/deb/target/
/packages/rpm/target/
/packages/rpm32/target/
/packages/rpm64/target/
/mods/duchatelet/target/
/mods/pack1/target/
*~
/libtiled-jpurexml/target/
/mods/bald/target/
/target/
/mods/retro/target/

# Eclipse specific files/directories #
######################################
.classpath
.project
.settings


# IntelliJ specific files/directories #
#######################################
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
/game/teavm/target/