~
target/

# Eclipse specific files/directories #
######################################
.classpath
.project
.settings


# IntelliJ specific files/directories #
#######################################
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
