#!/usr/bin/env xdg-open
[Desktop Entry]
Version=${project.version}
Type=Application
Terminal=false
Categories=Game;
Exec=/opt/newton_adventure/newton_adventure.jar
Name=Newton Adventure
Comment=Newton Adventure is a 2d platform game where player can rotate level and change gravity
Icon=/opt/newton_adventure/icon.png
