Package: [[name]]
Version: [[version]]
Section: misc/games
Priority: optional
Architecture: all
Depends: java6-runtime, jarwrapper
Maintainer: devnewton <devnewton@bci.im>
Description: Newton Adventure is a free and open source 2D platform game. You play Newton, a very special hero who has the power to change gravity direction.
Homepage: http://devnewton.bci.im
